.currency__table-button{
    display: none;
}

.main__currency-table {
    display: block;
}

.product__cards-container {
    width: 754px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 25px auto;
}

.plans__container-slider {
    justify-content: center;
    overflow-x: hidden;
}


.plans__container-slider .plans__container-card.plan__card--hidden {
    display: flex;
}

.plans__container-slider .plans__container-card.plan__card--visible {
    display: flex;
    animation: fadeVisibility 0.5s;
}

#plans__button--prev {
    display: none;
}

#plans__button--next {
    display: none;
}